<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color = "tertiary" size="large">ZenHabits</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome back!</ion-card-title>
      <ion-card-subtitle>Today is {{date}}<br>Check out your task list!</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tip of the day</ion-card-title>
      <ion-card-subtitle>Come back tomorrow for another tip!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{this.tipToHTML}}</ion-card-content>
  </ion-card>

  <ion-card button>
    <ion-card-header button=True (click)="navigateResources()">
      <ion-card-title>Resources</ion-card-title>
      <ion-card-subtitle>Click to view resources</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
