<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ZenHabits</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome back!</ion-card-title>
      <ion-card-subtitle>Today is {{date}}<br>You've logged in x times in a row!</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tip of the day</ion-card-title>
      <ion-card-subtitle>Come back tomorrow for another tip!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>Remember to drink water!</ion-card-content>
  </ion-card>

  <ion-card button=True href="resources" routerAnimation={{this.animationCtrl}}>
    <ion-card-header>
      <ion-card-title>Resources</ion-card-title>
      <ion-card-subtitle>Click to view resources</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
