<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zen Habits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Resources</ion-title>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
    
  </ion-header>  

<ion-label>
  <ion-card button = "True" color = "secondary" href="https://m.youtube.com/watch?v=bG3AcN-XOrw">
      <ion-card-header>
        <ion-card-subtitle> https://www.youtube.com/watch?v=bG3AcN-XOrw </ion-card-subtitle>
        <ion-card-title>10 Min Guided Meditation For Sleep & Relaxation | Fall Asleep Fast With Soothing Rain Sounds</ion-card-title>
      </ion-card-header>
      <ion-card-content>Take advantage of this great clip if you're working on the sleeping habit!</ion-card-content>
  </ion-card>
</ion-label>

<ion-label>
  <ion-card button = "True" color = "secondary" href="https://myfridgefood.com/">
      <ion-card-header>
        <ion-card-subtitle> https://myfridgefood.com/ </ion-card-subtitle>
        <ion-card-title>MyFridgeFood</ion-card-title>
      </ion-card-header>
      <ion-card-content>This great website allows you to find recipes for whatever you can find in your fridge!</ion-card-content>
  </ion-card>
</ion-label>

<ion-label>
  <ion-card button = "True" color = "secondary" href="https://m.youtube.com/watch?v=KEYSO-Tc2Go">
      <ion-card-header>
        <ion-card-subtitle> https://www.youtube.com/watch?v=KEYSO-Tc2Go </ion-card-subtitle>
        <ion-card-title>20 Minute Everyday Vinyasa Flow Yoga Class | Lululemon</ion-card-title>
      </ion-card-header>
      <ion-card-content>Never been to a yoga class? No problem, here is a great guided video</ion-card-content>
  </ion-card>
</ion-label>

<ion-label>
  <ion-card button = "True" color = "secondary" href="https://www.visitcalgary.com/things-to-do/stories-from-calgary/an-insiders-guide-to-the-top-hiking-experiences-in-calgary">
      <ion-card-header>
        <ion-card-subtitle>https://www.visitcalgary.com/things-to-do/stories-from-calgary/an-insiders-guide-to-the-top-hiking-experiences-in-calgary</ion-card-subtitle>
        <ion-card-title>An Insider's Guide to the Top Hiking Experiences in Calgary</ion-card-title>
      </ion-card-header>
      <ion-card-content>Here is an extensive list of great locations for urban walks!</ion-card-content>
  </ion-card>
</ion-label>

<ion-label>
  <ion-card button = "True" color = "secondary" href="https://m.healthline.com/health/breathing-exercise#belly-breathing">
      <ion-card-header>
        <ion-card-subtitle>https://www.healthline.com/health/breathing-exercise#belly-breathing</ion-card-subtitle>
        <ion-card-title>10 Breathing Exercises to Try: For Stress, Training & Lung Capacity</ion-card-title>
      </ion-card-header>
      <ion-card-content>This is 10 different exercises. Find the one that works best for you!</ion-card-content>
  </ion-card>
</ion-label>

<ion-label>
  <ion-card button = "True" color = "secondary" href="https://m.safehelpline.org/online">
      <ion-card-header>
        <ion-card-subtitle>https://www.safehelpline.org/online</ion-card-subtitle>
        <ion-card-title>Online Helpline</ion-card-title>
      </ion-card-header>
      <ion-card-content>If you ever need to speak to someone anonymously in confidence these chatrooms are secure and private</ion-card-content>
  </ion-card>
</ion-label>
