<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zen Habits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Zen Habits</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>

  <div>
    <ion-card *ngFor = "let habit of habits"> 
      <ion-card-header>
        <ion-card-subtitle>{{habit.subtitle}}</ion-card-subtitle>
        <ion-card-title>{{habit.title}}</ion-card-title>
      </ion-card-header>

      <ion-checkbox [(ngModel)]="habit.isChecked"></ion-checkbox>
      
      <ion-card-content>
        {{habit.content}}
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
