<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ZenHabits
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title color = "tertiary" size="large">ZenHabits</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>
    <ion-list>
      <ion-list-header>Incomplete Tasks: {{this.incompletes.length}}</ion-list-header>
      <ion-card button = "True" color = "secondary" *ngFor="let incomplete of incompletes; index as i" (click)="toCompleteTask(incomplete, i)">
        <ion-card-header>
          <ion-card-subtitle>{{this.incompletes[i].subtitle}}</ion-card-subtitle>
          <ion-card-title>{{this.incompletes[i].title}}</ion-card-title>
        </ion-card-header>
      <ion-card-content>{{this.incompletes[i].content}}</ion-card-content>
      </ion-card>
    </ion-list>
  </ion-label>

  <ion-label>
    <ion-list>
      <ion-list-header>Completed Tasks: {{this.completes.length}}</ion-list-header>
      <ion-card button = "True" color = "success" *ngFor="let complete of completes; index as j" (click)="toIncompleteTask(complete, j)">
        <ion-card-header>
          <ion-card-subtitle>{{this.completes[j].subtitle}}</ion-card-subtitle>
          <ion-card-title>{{this.completes[j].title}}</ion-card-title>
        </ion-card-header>
      <ion-card-content>{{this.completes[j].content}}</ion-card-content> 
      </ion-card>
    </ion-list>
  </ion-label>
</ion-content>